/* Color Variables */
body {
	--dark-blue: #006cdf;
	--dark-yellow: #e4ae0f;
	--dark-red: #be2b3a;
	--dark-dark: #272b30;
}
/* --------------- */

main {
	margin-top: 20px;
	min-height: calc(100vh - 80px - 200px);
}

nav {
	min-height: 80px;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pb-80 {
	padding-bottom: 80px;
}

footer p {
  margin-bottom: .25rem;
}

.btn-xs {
	font-size: .675rem;
  padding: .20rem .4rem;
  line-height: 1.3;
  border-radius: .2rem;
}

.comment-name {
	margin: 0;
}

.comment-modal-edit {
	padding: 0;
}

.comment-form-edit {
	border: none;
}

.btn-stretch {
	flex: 1;
}

.btn-toolbar-fix {
	width: 100px;
}

.btn-dashboard {
	width: 105px;
}

.dashboard {
	margin-bottom: .5rem;
}

.dashboard-title {
	margin: 0;
}

.search-bar {
	border-top-left-radius: 20rem !important;
	border-bottom-left-radius: 20rem !important;
}

.search-bar-group {
	width: 50%;
	padding-right: .5rem;
    padding-left: .5rem;
}

.btn-search-bar {
	border-top-right-radius: 20rem;
	border-bottom-right-radius: 20rem;
	border: 1px solid #ced4da;
	border-left: 0px;
}

.side-menu > .card {
	border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.side-menu > .card > .card-header {
	background-color: rgba(0, 0, 0, 0);
}

.side-menu > .card > .card-header:hover {
	background-color: var(--light);
}

.side-menu > .card > .card-header.active {
	background-color: var(--primary);
	color: var(--white);
}

.side-menu > .card > .card-header.active > .btn-link {
	color: var(--white);
}

.side-menu > .card > .card-header.active > .btn-link:hover {
	opacity: 0.8;
}

.side-menu-drop > .list-group-item {
	padding-left: 2rem;
}

.side-menu-drop > .list-group-item.active {
	background-color: var(--secondary);
	border-color: var(--light);
}

.title-section-btn-group > a {
	font-size: 1.5rem;
}

.comment {
	border-left: solid 2px var(--secondary);
	padding-left: 1rem;
}

.card-note-primary {
	background-color: var(--dark-blue);
}

.card-note-warning {
	background-color: var(--dark-yellow);
}

.card-note-danger {
	background-color: var(--dark-red);
}

.card-note-dark {
	background-color: var(--dark-dark);
}

.table-row > td > a {
	opacity: .7;
}

.table-row > td > a:hover {
	opacity: 1;
}

.table-row-primary, .table-row-primary > td > a {
	color: var(--white)!important;
	background-color: var(--primary)!important;
}

.table-row-warning, .table-row-warning > td > a {
	background-color: var(--warning)!important;
}

.table-row-danger, .table-row-danger > td > a {
	color: var(--white)!important;
	background-color: var(--danger)!important;
}

.table-row-dark, .table-row-dark > td > a {
	color: var(--white)!important;
	background-color: var(--dark)!important;
}

.btn-toolbar > .btn-group {
	flex: 1;
}

@media (max-width: 992px) {
	.badges-stats {
		display: none !important;
	}

	.search-bar-group {
		width: 100%;
		padding-right: 0;
    	padding-left: 0;
	}
}